html{
    background-color: blanchedalmond;
    overflow-y: scroll;
    margin:0px;
}

body {
    overflow: hidden;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px;
}



.container{
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height:80vh;
    width:100%;
    margin: 0;
    padding: 0;

    
}   

.header{
    font-family: "Papyrus", Fantasy;
    max-height: fit-content;
}

/* change to scroll img */
.scroll{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    /* width: 70%; */
    width: calc(80vh * 1100/672);
    /* aspect-ratio:1100/672; */
    background-color: brown; 
    /* background-image: url('assets/background.png'); */
    /* background-size: 100% 100% ;
    background-repeat: no-repeat; */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: height;
    transition-duration: 3s;

}

.scroll:hover{
    /* background-image: none; */
    height: 22vh;
}

/* add background img for top and bottom of scroll*/
.scrollEnds{
    height: 11vh;
    width: 100%;
    background-color: blue;
    flex-shrink:0;
}

/* .scrollEnds:hover{
    height: 50%;
} */

/* change */
/* .scroll:hover {
    height: 40%;
} */

.map {
    /* position: static; */
    position: absolute;
    height: calc(80vh - 22vh);
    /* width: 100%; */
    aspect-ratio: 1100/672;
    /* height: 71.5%;
    width: 90%; */
    background-image: url('assets/ResizedWorld.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    overflow:hidden;
    /* transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: height;
    transition-duration: 1s; */
}

.mapContainer {
    margin: 0;
    height: 59vh;
    width: calc(59vh * 1100/672);
    padding:0px;
    overflow:hidden;
    position: relative;
    
    /* aspect-ratio: 1100/672; */

    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: height;
    transition-duration: 1s;
}

/* change */


h1 {
    font-size:50pt;
}

.map button {     
    background-color: transparent;
    background-repeat:no-repeat;
    font-size: large;
    font-weight: bolder;
    border: none;
    cursor:pointer;

    position: absolute;

    /* width: 10%; */
    height: 10%;
    aspect-ratio: 1/1;
    background-size: contain;
}

.map button:hover{
    color: red;
    background-color: black;
}

#b1{
    top: 10%;
    left: 0%;
    background-image: url('./assets/Anchor.png');
    
    
}

#b2{
    top: 10%;
    left: 10%;
}

#b3{
    top: 10%;
    left: 20%
}

#b4{
    top: 10%;
    left: 30%
}

#b5{
    top: 10%;
    left: 40%
}

#b6{
    top: 10%;
    left: 50%
}





/* questoin box */
.QuestionBox {
    border: 11px double #ff6550;
    height: 5%;
    width: fit-content;
    padding-right: 20px;
}

.QuestionBox:hover{
   height: auto;
}

.question {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: uppercase;
}

.answers {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.answer:hover {
    background-color: red;
    
    cursor:pointer;
}

.answer {
    padding:10px;
}