html{
    background-color: blanchedalmond;
    overflow-y: scroll;
}

body {
    overflow: hidden;
    height:100vh;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
}   

.header{
    font-family: "Papyrus", Fantasy;
}

.scroll{
    margin: 0;
    height: 70%;
    width: 70%;
    background-color: brown;
    /* background-image: url('assets/background.png'); */
    background-size: 100% 100% ;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    margin: 0;
    height: 90%;
    width: 90%;
    background-image: url('assets/background.png');
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}

h1 {
    font-size:50pt;
}

.map button {     
    background-color: transparent;
    background-repeat:no-repeat;
    font-size: large;
    font-weight: bolder;
    border: none;
    cursor:pointer;
}

.map button:hover{
    color: red;
}

#b1{
    position: relative;
    top: 10%;
    left: 0%
}

#b2{
    position: relative;
    top: 10%;
    left: 10%
}

#b3{
    position: relative;
    top: 10%;
    left: 20%
}

#b4{
    position: relative;
    top: 10%;
    left: 30%
}

#b5{
    position: relative;
    top: 10%;
    left: 40%
}

#b6{
    position: relative;
    top: 10%;
    left: 50%
}