@font-face {
    font-family: pixelFontBold;
    src: url(assets/PixelFontBold.ttf);
  }
  

html{
    background-color: blanchedalmond;
    overflow-y: scroll;
    margin:0px;
}

body {
    overflow: hidden;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px;
}

.title {
    text-transform: uppercase;
    color: saddlebrown;
    font-weight: bold;
}


.container{
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height:80vh;
    width:100%;
    margin: 0;
    padding: 0;

    
}   

.header{
    font-family: "Papyrus", Fantasy;
    max-height: fit-content;
}

/* change to scroll img */
.scroll{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    /* width: 70%; */
    width: calc(80vh * 2386/1062);
    /* aspect-ratio:1100/672; */
    /* background-color: brown;  */
    /* background-image: url('assets/background.png'); */
    /* background-size: 100% 100% ;
    background-repeat: no-repeat; */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: height;
    transition-duration: 3s;

}

/* .scroll.folded{
    height: 22vh;
} */

.scroll:hover{
    height: 22vh;
}

/* add background img for top and bottom of scroll*/
.scrollEnds{
    height: 11vh;
    width: 100%;
    /* background-color: blue; */
    flex-shrink:0;

    background-image: url('assets/ScrollEnd.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* .scrollEnds:hover{
    height: 50%;
} */

/* change */
/* .scroll:hover {
    height: 40%;
} */

.map {
    /* position: static; */
    position: absolute;
    height: calc(80vh - 22vh);
    /* width: 100%; */
    aspect-ratio: 2386/1062;
    /* height: 71.5%;
    width: 90%; */
    background-image: url('assets/WorldMap.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    overflow:hidden;
    /* transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: height;
    transition-duration: 1s; */
}

.mapContainer {
    margin: 0;
    height: 59vh;
    width: calc(59vh * 2386/1062);
    padding:0px;
    overflow:hidden;
    position: relative;
    
    /* aspect-ratio: 1100/672; */

    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: height;
    transition-duration: 1s;
}

/* change */


h1 {
    font-size:50pt;
}

.map button {     
    background-color: transparent;
    background-repeat:no-repeat;
    font-size: large;
    font-weight: bolder;
    border: none;
    cursor:pointer;

    position: absolute;

    /* width: 10%; */
    height: 10%;
    aspect-ratio: 1/1;
    background-size: contain;
}

.map button:hover{
    color: red;
    background-color: black;
}

#b1{
    top: 10%;
    left: 0%;
    background-image: url('./assets/AnchorB.png');
    
    
}

#b2{
    top: 10%;
    left: 10%;
    background-image: url('./assets/CompassB.png');
}

#b3{
    top: 10%;
    left: 20%;
    background-image: url('./assets/PirateFlagB.png');
}

#b4{
    top: 10%;
    left: 30%;
    background-image: url('./assets/CannonB.png');
}

#b5{
    top: 10%;
    left: 40%;
    background-image: url('./assets/SteeringWheelB.png');

}

#b6{
    top: 10%;
    left: 50%;
    background-image: url('./assets/TreasureChestClosedB.png');
}





/* .QuestionBox:hover{
   height: auto;
} */

.question {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: uppercase;
}

.answers {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.QuestionBox {

    border: 11px double #ff6550;
    height: 5%;
    width: fit-content;
    padding-right: 20px;

    gap:1px;

    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;

    width:50%;
    height:100%;
}



.QuestionBox>div {
    width:100%;
    height:100%;
    border: 11px dotted #00eeff;

    margin:0px;
}

.gridPlaceholder {
    grid-area: 1 / 1 / 4 / 3;
}

.messageArea {
    grid-area: 1 / 3 / 4 / 7;
    background-image: url('assets/MessageBubble.png');

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    /* align-items: center; */
    justify-content: center;
    

}

.messageArea div {
    border: 11px dotted #4c00ff;
    width:70%;
    height:60%;

    margin-top:3%;
    position: relative;
}

.messageArea div p {
    margin:0;
    position: absolute;
    text-align: center;
    font-family: pixelFontBold;
    font-size: 20pt;
    
    max-width:100%;
    word-wrap: break-word;
}

.pirateArea {
    grid-area: 4 / 1 / 7 / 3;

    background-image: url('assets/PirateTalking.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    align-items: center;
    text-align: center;

}

.answersArea {
    grid-area: 4 / 3 / 7 / 7;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.answersArea>div {
    
    display:flex;
    justify-content: center;
    align-items: center;

    /* width:50%; */
    
}

.answer {
    background-image: url(assets/WoodenPlank.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    
    width:80%;
    height:50%;

    opacity:1;
    transition-property: opacity;
    transition-duration: .5s;

    display:flex;
    align-items:center;
    justify-content: center;

    cursor: grab;
    
}


.answer p{
    position: absolute;
    text-align: center;
    font-family: pixelFontBold;

    
    
}

.answer.visible {
    opacity: 1;
}


/* .answer:hover {
    background-color: red;
    
    cursor:pointer;
} */

.answer {
    padding:10px;
}